* {
  box-sizing: border-box;
}

body,
h1,
h2,
h4,
ol,
p {
  margin: 0;
  padding: 0;
}

.first-section {
  width: 100%;
  height: 467px;
  background-image: url("images/section1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.download-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.title {
  font-family: DroidArabicKufiBold, sans-serif ;
  font-size: 46px;

  width: 490px;
  height: 88px;

  text-align: center;
  letter-spacing: 0;
  color: #010308;
}

.description {
  font-family: DroidArabicKufiRegular, sans-serif;
  font-size: 21px;

  width: 412px;
  height: 90px;

  text-align: left;
  letter-spacing: 0;
  color: #010308;
}

.btn-download {
  width: 315px;
  height: 40px;

  font-family: DroidArabicKufiRegular, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;

  border: 0;
  background: #d90909;
}

.second-section {
  height: 376px;
  background-image: url("images/section2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.start-content {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.start-title {
  font-family: DroidArabicKufiBold, sans-serif;
  font-size: 26px;
  text-align: right;
  letter-spacing: 0;
  color: #fff;
}

.btn-start {
  width: 223px;
  height: 41px;

  font-family: DroidArabicKufiBold, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #000;

  border: 0;
  background: #f3b411;
}

.privilege {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.privilege-title {
  font-family: DroidArabicKufiBold, sans-serif;
  font-size: 22px;
  letter-spacing: 0;
  color: #fff;
}

.colon {
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
}

.privilege-list {
  font-family: DroidArabicNaskhRegular, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: right;
  color: #fff;
}

@media (max-width: 768px) {
  .first-section {
    width: 768px;
    height: 500px;
    background-image: url("images/section1-tablet.png");
  }

  .download-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .text-content {
    order: 0;
    align-items: center;
    padding-top: 26px;
  }

  .title {
    font-size: 34px;
    height: 64px;
  }

  .books {
    order: 1;
  }

  .books-img {
    width: 282px;
    height: 278px;
  }

  .second-section {
    width: 768px;
    height: 421px;
  }

  .start-title {
    width: 286px;
    text-align: center;
  }

  .btn-start {
    width: 320px;
  }
}

@media (max-width: 640px) {
  .first-section {
    width: 640px;
    height: 415px;
  }

  .download-content {
    gap: 15px;
  }

  .text-content {
    order: 0;
    align-items: center;
    padding-top: 20px;
  }

  .title {
    font-size: 28px;
    height: 53px;
  }

  .description {
    font-size: 18px;
    width: 380px;
    height: 80px;
    text-align: center;
  }

  .btn-download {
    width: 266px;
    height: 34px;

    font-size: 18px;
    text-align: center;
  }

  .books {
    order: 1;
  }

  .books-img {
    width: 236px;
    height: 233px;
  }

  .second-section {
    width: 640px;
    height: 353px;
  }

  .start-content {
    padding-top: 20px;
  }

  .start-title {
    width: 240px;
    font-size: 22px;
  }

  .btn-start {
    font-size: 18px;
  }

  .privilege {
    gap: 5;
  }

  .privilege-title {
    font-size: 18px;
  }

  .privilege-list {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .first-section {
    width: 485px;
    height: 310px;
  }

  .download-content {
    gap: 10px;
  }

  .text-content {
    padding-top: 10px;
  }

  .title {
    font-size: 21px;
    height: 40px;
  }

  .description {
    font-size: 15px;
    width: 300px;
    height: 60px;
  }

  .btn-download {
    width: 200px;
    height: 30px;
    font-size: 16px;
  }

  .books-img {
    width: 178px;
    height: 176px;
  }

  .second-section {
    width: 485px;
    height: 307px;
  }

  .start-content {
    padding-top: 20px;
    gap: 10px;
  }

  .start-title {
    width: 228px;
    font-size: 21px;
  }

  .btn-start {
    width: 200px;
    height: 30px;
    font-size: 16px;
  }

  .privilege {
    gap: 5px;
  }

  .privilege-title {
    font-size: 16px;
  }

  .privilege-list {
    font-size: 14px;
  }
}
